// Default Theme Fonts

@font-face
    font-family "Open Sans"
    src url("/static/font/open-sans-regular.eot")
    src url("/static/font/open-sans-regular.eot?#iefix")           format("embedded-opentype"),
        url("/static/font/open-sans-regular.woff")                 format("woff"),
        url("/static/font/open-sans-regular.ttf")                  format("truetype"),
        url("/static/font/open-sans-regular.svg#open_sansregular") format("svg")
    font-style normal
    font-weight 400

@font-face
    font-family "Open Sans"
    src url("/static/font/open-sans-bold.eot")
    src url("/static/font/open-sans-bold.eot?#iefix")        format("embedded-opentype"),
        url("/static/font/open-sans-bold.svg#open_sansbold") format("svg"),
        url("/static/font/open-sans-bold.woff")              format("woff"),
        url("/static/font/open-sans-bold.ttf")               format("truetype")
    font-style normal
    font-weight 700

@font-face
    font-family "Open Sans"
    src url("/static/font/open-sans-italic.eot")
    src url("/static/font/open-sans-italic.eot?#iefix")          format("embedded-opentype"),
        url("/static/font/open-sans-italic.woff")                format("woff"),
        url("/static/font/open-sans-italic.ttf")                 format("truetype"),
        url("/static/font/open-sans-italic.svg#open_sansitalic") format("svg")
    font-style italic
    font-weight 400
